{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Simon|课程详情{% endblock %}
{% block custom_bread %}
<section>
	<div class="wp">
		<div class="crumbs">
			<ul>
				<li><a href="{% url 'index' %}">首页</a>></li>
				<li>公开课</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
<section>
	<div class="wp">
		<div class="list" style="margin-top:0;">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li class="{% if sort == '' %}active{% endif %}"><a href="?sort=&keywords={{ search_keywords }}">最新 </a></li>
						<li class="{% if sort == 'hot' %}active{% endif %}"><a href="?sort=hot&keywords={{ search_keywords }}">最热门</a></li>
						<li class="{% if sort == 'students' %}active{% endif %}"><a href="?sort=students&keywords={{ search_keywords }}">参与人数</a></li>
					</ul>
				</div>
                <div id="inWindow">
                    <div class="tab_cont " id="content">
                        <div class="group_list">
                            {% for course in all_courses %}
                                <div class="box">
                                    <a href="{% url 'course:course_detail' course.id %}">
                                        <img width="280" height="350" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}"/>
                                    </a>
                                    <div class="des">
                                        <a href="{% url 'course:course_detail' course.id %}">
                                            <h2>{{ course.name }}</h2>
                                        </a>
                                        <span class="fl">时长：<i class="key">{{ course.learn_times }}</i></span>
                                        <span class="fr">学习人数：{{ course.learn_nums }}&nbsp;&nbsp;</span>
                                    </div>
                                    <div class="bottom">
                                        <a href="{% url 'organization:org_detail_home' course.organization.id %}"><span class="fl">来自{{ course.organization }}</span></a>
                                        <span class="star fr  notlogin
                                            " data-favid="15">
                                            {{ course.organization.fav_nums }}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="pageturn">
                            <ul class="pagelist">
                            {% if all_courses.has_previous %}
                                <li class="long"><a href="?page={{ all_courses.previous_page_number }}">上一页</a></li>
                            {% endif %}
                            <li class="long">第 {{ all_courses.number }} 页 / 共 {{ all_courses.paginator.num_pages }} 页</li>
                            {% if all_courses.has_next %}
                                <li class="long"><a href="?page={{ all_courses.next_page_number }}">下一页</a></li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
			<div class="right layout">
				<div class="head">热门课程推荐</div>
				<div class="group_recommend">
                    {% for hot_course in hot_courses %}
                    <dl>
						<dt>
							<a target="_blank" href="{% url 'course:course_detail' hot_course.id %}">
								<img width="240" height="220" class="scrollLoading" src="{{ MEDIA_URL }}{{ hot_course.image }}"/>
							</a>
						</dt>
						<dd>
							<a target="_blank" href=""><h2>{{ hot_course.name }}</h2></a>
							<span class="fl">难度：<i class="key">{{ hot_course.get_degree_display }}</i></span>
						</dd>
					</dl>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}